<!DOCTYPE html>
<html>
  <head>
    <title>DummyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |key, value| %>
		  <%= content_tag :div, value, class: "flash #{key}" %>
		<% end %>
    <%= yield %>
  </body>
</html>
